@import "style.css";
body{
    background-color: var(--softBlack)

}
#register-section{
    min-height: 30rem;
    width: 100%;
    background-color:var(--softBlack);
color :var(--blue);
    display: flex;
    justify-content: center;
}
#register-div{
    width: 80%;
   min-width: fit-content;
   background-color: var(--softBlack);
    border: 2px solid var(--blue);
    display: flex;
    flex-direction: column;
    column-gap: 0.3rem;
    margin-top: 3rem;
    
}
#register-photo{
    height: 100%;
    width: 100%;
}
#register-photo>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#register-form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#register-form-title{
    line-height: 6rem;
    margin-left: 2rem;
    text-align: center;
}
#register-form-data{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-div{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    padding-bottom: 1rem;
}
#color-icon{
    display: flex;
    align-items: center;
    padding: 1rem;
    background: var(--softBlack);
    margin-right: 0.1rem;
    cursor: pointer;
}
.color-icon-pwd{
   
    cursor: pointer;
}
#register-submit,#register-reset{
    margin: 2rem 0;
}
#register-submit>input,#register-reset>input{
    height: 4rem;
    width: 9rem;
    font-size: 1.2rem;
}
#register-submit>input{
   
    background-color: var(--blue);
    color: var(--var(--softBlack)1);
}
#register-reset>input{
    background-color: red;
    color: var(--var(--softBlack)1);
}
.register-label{
    font-size: 1.2rem;
}
.register-input{
    font-size: 1.5rem;
    background-color: var(--var(--softBlack)1);
    border: 1px solid var(--color1);
    color: var(--blue);
    padding: 0.3rem 0;
}
#action-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.action-inputs{
    display: flex;
    width: 100%;
    justify-content: space-around;
   
}
.password-inside{
    display: flex;
}
.idcard-inside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input::placeholder{
    font-size: 0.8rem;
    padding-left: 4px;
    color: var(--blue);

}
@media (min-width:411px) and (max-width:815px) {
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #form-div2{
    margin-right: 3.4rem;
  }
  .action-inputs{
    width: 100%;
  }
  .redirect-login{
    margin-left: 1rem;
  }
 }

 @media (min-width:0px) and (max-width:410px){
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    #register-div{
        border: 0;
    }
    .register-input{
        font-size: 1.2rem;
    }
    #form-div2{
        margin-right: 2.4rem;
      }
      .action-inputs{
        width: 100%;
      }
      .redirect-login{
        margin-left: 1rem;
      }
 }