* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

:root {
  --softBlack : #232b2b;
  --softBlack2 : #0e1111;
  --blue : #85f4ff;
  --blue2 : # 84cdee;

}

